# RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Knitr / R Markdown
_cache/
figs/
*_files/
*.knit.md

# LaTeX
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# Datos procesados temporales
Limpieza/

# Python
.venv/
venv/
env/
__pycache__/
*.pyc
.ipynb_checkpoints/

.vscode

# Sistema
.DS_Store
Thumbs.db
